<div class="product-card">
  <div class="product-card__top">
    <div class="icon-block-card">
      <button class="button-star m-b-20"></button>
      <img class="m-b-20" src="@assets/icon/icon-vegi.svg" alt=" ">
      <img class="m-b-20" src="@assets/icon/icon-hot.svg" alt=" ">
    </div>
    <div class="like-block">
      <button class="icon-like"> </button>
      <div class="like-number igra igra-12 m-l-5">22</div>
    </div>
  </div>

  <img class="product-card__img" src="@assets/img/img-susi-card.svg" alt=" ">

  <div class="product-card__bottom">
    <h3 class="igra igra-12 igra-grey m-b-10">{{group}}</h3>
    <h3 class="igra igra-20 m-b-15">{{title}}</h3>
    <h3 class="roboto roboto-grey roboto-16 m-b-20 text-description">{{description}}</h3>
    <div class="price">
      <div class="price__sum-card">
        <div class="igra"> {{price}} </div>
      </div>
      <div class="roboto roboto-14 m-l-25">{{weight}}</div>
    </div>
    <div class="btn-add-cart m-t-30">
      <div class="rtg"></div>
      <div class="btn-add-cart__block ">
        <button class="btn-add-cart__plus"></button> <span class="btn-add-cart__count igra igra-14"> 1 </span>
        <button class="btn-add-cart__minus"></button>
      </div>
      <button class="button igra igra-14"> Добавить в корзину
        <img class="m-l-10" src="@assets/icon/icon-basket-card.svg" alt=" ">
      </button>
    </div>
  </div>
</div>